.header{
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--gray-600);
    
    .header__content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width:768px){
            flex-direction: column;
        }
    }

    .header__title{
        font-size: 1.5rem;
        text-align: center;

        @media (max-width:768px){
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
        }
    }
}