/* 
=== Variables Fonts
*/
$font-family:"Fira Code", monospace;
$font-size:16px;
/* 
=== End Variables Fonts
*/

/* 
=== Variables Colors
*/
$gray-100: #e1e1e6;
$gray-300: #c4c4cc;
$gray-400: #8d8d99;
$gray-600: #323238;
$gray-700: #29292e;
$gray-800: #202024;
$gray-900: #121214;

$blue-400: #568aff;
$blue-700: #001eff;

/* 
=== End Variables Colors
*/

:focus{
    outline: transparent;
    box-shadow: 0 0 0 2px $blue-700;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: $gray-700;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $gray-400;
    border-radius: 8px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $gray-900;
    color: $gray-300;
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button,
a{
    font-family: $font-family;
    font-size: $font-size;
}